<div class="form-group">
  <input type="text" class="form-control" id="search"
    placeholder="Search here. . . " (focus)="showModal(true)" >
    <input type="abc" class="form-control" id="abc"
      placeholder="Search companies here. . . " (focus)="showModal(false)" >
  <!-- <app-checkbox
    [checkboxId]="checkboxData"
    [checkboxName]="checkboxData"
    [checkboxLabel]="checkboxData"
    [checkboxValue]="checkboxData"
    ></app-checkbox> -->
</div>
<app-modal *ngIf="showIt"
          [modalTitle]="modalTitle"
          [modalData]="modalData"
          (close)="hideModal($event)"></app-modal>
