.tag{
  display: inline-block;;
  padding: 3px 10px;
  background: #9e9e9e;
  color: #ffffff;
  margin-right: 6px;
}
.remove{
  float: right;
  font-weight: bold;
  cursor: pointer;
  margin-left: 5px;
}
