.dashmodal {
    /* detach from rest of the document */
    position: fixed;

    /* center */
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    /* ensure in front of rest of page -- increase as needed */
    z-index: 1001;

    /* visual illusion of being in front -- alter to taste */
    box-shadow: rgba(0,0,0,0.4) 0px 8px 15px -7px;

    /* visual illusion of being a solid object -- alter to taste */
    background-color: #fff;

    /* visual preference of don't crowd the contents -- alter to taste */
    display: flex;
    flex-direction: column;
    width: 800px;
    height: 600px;
}

.dashmodal .title,.dashmodal .content,.dashmodal .footer{
  padding: 10px;
  border-bottom: 1px solid #ccc;
}
.dashmodal .content{
  flex-grow: 3;
}
.dashmodal .footer{
  text-align: right;
  border:none;
}
.dashmodal .footer button{
  width: 100px;
  margin-left: 6px
}
.close-modal{
  font-size: 1.5em;
  right: 0;
  position: absolute;
  line-height: 7px;
}
.overlay {
    /* detach from document */
    position: fixed;

    /* ensure in front of rest of page except modal */
    z-index: 1000;

    /* fill screen to catch mice */
    top: 0;
    left: 0;
    width: 9999px;
    height: 9999px;

    /* dim screen 20% -- alter to taste */
    opacity: 0.2;
    background-color: black;
}
