<div class="dashmodal">
    <div class="title">
      {{modalTitle}}
      <button class="btn close-modal" type="button" (click)="hideModal()">&times;</button>
    </div>
    <div class="content">
      <div class="row">
        <div class="col-4">
          <input type="text" class="form-control" id="search"
            placeholder="Search here. . .">
        </div>
      </div>
      <div class="row" style="padding-top:15px">
        <div class="col col-lg-3"  *ngFor="let item of modalData">
          <div style="font-weight:bold;color:#d84e55;margin-bottom:8px">
            {{item.group}}
          </div>
          <div *ngFor="let itemValue of item.data ">
            <app-checkbox
              [checkboxId]="itemValue"
              [checkboxName]="itemValue"
              [checkboxLabel]="itemValue"
              [checkboxValue]="itemValue"
              ></app-checkbox>
          </div>
        </div>
      </div>
    </div>
    <div class="footer">
      <button class="btn btn-light" type="button" (click)="hideModal()">Cancel</button>
      <button class="btn btn-primary" type="button" (click)="showModal()">OK</button>
    </div>
</div>
<div class="overlay"></div>
